<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/css/footer.css")
    @Styles.Render("~/Content/css/main.css")
    @Styles.Render("~/Content/css/navbar.css")
    @Scripts.Render("~/bundles/modernizr")

    <!-- Font-families -->
    <link href="https://fonts.googleapis.com/css?family=Monoton" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">

    <!-- Webapplication Icon -->
    <link rel="icon" href="@Url.Content("~/content/images/navbar-logo-dark.png")" />
</head>
<body>
    <!-- Use "a" for all the links so the grey url thing in the bottom left shows -->
    <nav class="mynavbar">
        <a href="homepage.html" class="image-logo"></a>
        <div class="mynavbar-buttons">
            <a href="~/Home/Index">HOME</a>
            <a href="~/Foods/Index">FOOD</a>
            <a href="~/Dances/Index">DANCE</a>
            <a href="~/Jazzs/Index">JAZZ</a>
            <a href="~/Histories/Index">HISTORY</a>
            <a href="~/Tickets/Index">CART</a>
        </div>
        <a href="#facebook" class="icon-socialmedia facebook"></a>
        <a href="#instagram" class="icon-socialmedia instagram"></a>
        <a href="#twitter" class="icon-socialmedia twitter"></a>
    </nav>

    <div class="container body-content">
        @RenderBody()
        <footer class="footer">
            <p class="copyright-text">&copy; @DateTime.Now.Year - Haarlem Festival Group F2</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
